.orders-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 12px;
}

.orders-list {
  height: calc(100vh - 42px - 40px - 52px - 50px - 20px);
  overflow-x: hidden;
}

.orders-list-wrapper {
  padding: 5px;
}

.orders-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 5px;

  position: relative;
}

.current-user-marker {
  width: 3px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 0;

  border-radius: 50%;

  transform: translateY(-50%);

  background-color: greenyellow;
}

.orders-item-header .orders-item__info-group .checkbox-label::after {
  display: none;
}

.orders-item-header .orders-item__info-group .checkbox-label label::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid gray;

  transition: background-color 350ms ease-in-out;
}
