.client-modal-form {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  z-index: 2;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.client-modal-form .form__input-wrapper input,
.client-modal-form .form__input-wrapper textarea {
  text-align: left;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 38px;
}

.input-group button {
  width: 100%;
}

.input-group .icon-wrapper {
  width: 100%;
  height: 100%;
  background: var(--green-gradient);
  border-radius: unset;
}

.client-modal-form p {
  margin-bottom: 20px;
}

.client-modal-form label {
  font-size: 18px;
  color: red;

  top: 50%;
  transform: translateY(-50%);

  z-index: 1;
}

.select-options-name {
  display: block;
  text-transform: capitalize;
}

.select-options-phone {
  display: block;
  font-weight: 600;
}

.submit-btn,
.close-btn {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.submit-btn {
  text-transform: uppercase;
  background: var(--green-gradient);
}

.close-btn {
  background: var(--orange-gradient);
}

.modal-client-btns {
  margin-top: auto;
  width: 100%;
  height: 42px;

  display: flex;
}
