.client-modal-form {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;

  z-index: 2;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.client-modal-form .form__input-wrapper input,
.client-modal-form .form__input-wrapper textarea {
  text-align: left;
}

.client-modal-form p {
  margin-bottom: 20px;
}

.client-modal-form label {
  font-size: 18px;
  color: red;

  top: 50%;
  transform: translateY(-50%);

  z-index: 1;
}

.submit-btn {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;

  padding: 20px;
  background: var(--orange-gradient);
  text-transform: uppercase;

  height: 42px;
}
