.toast-error {
  width: 80vw;
  padding: 10px 20px 20px 20px;

  border-radius: 30px;

  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
}

.toast-error .egg {
  margin-top: 20px;
  display: block;
  position: relative;
  width: 118px;
  height: 160px;
  background-color: #fff;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform-origin: 50% 100%;

  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
}

.toast-error .egg::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15%;
  width: 80px;
  height: 86px;
  transform: translateX(-50%);
  background-color: #ffd900;
  border-radius: 50%;
}

.toast-error .close {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
  border-radius: 50%;

  position: absolute;
  top: -5px;
  right: -5px;

  background-color: white;
}

.toast-error h2 {
  margin-top: 20px;
  font-weight: 700;
  color: red;
}

.toast-error ol {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;

  margin-top: 20px;
  list-style: decimal;
}
