.update-client-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;

  bottom: -100%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.update-client {
  background-color: white;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);

  padding: 15px;
}

.update-client input {
  text-align: left;
  text-transform: capitalize;

  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px 5px 5px;
  background-color: transparent;
  width: 100%;
}

.update-client-buttons {
  margin-top: 30px;
  display: flex;
}

.update-client-buttons button {
  height: 42px;
  width: 100%;
}

.update-client-close {
  background: var(--orange-gradient);
}
.update-client-submit {
  background: var(--green-gradient);
}
