.form {
  position: relative;

  height: calc(100vh - 42px);
  height: calc((var(--vh, 1vh) * 100) - 42px);
  width: 100%;

  background-color: var(--gray-bg);
}

.form-body {
  padding: 5px;
  height: calc(100% - 82px);

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: scroll;
}

.form .form__wrapper {
  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);

  border-radius: 10px;
  background-color: white;
  position: relative;
}

.form .form__field {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 0;

  padding: 5px 10px 5px 5px;
}

.form .form__field .thumb {
  width: 100%;
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

  border: 1px solid gray;
}

.form .form__field .form__input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.form .form__field .form__input p {
  position: absolute;
  top: 11px;
  left: 50px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

  font-size: 11px;
  font-weight: 500;
}

.form__input-wrapper {
  position: relative;
}

.form__input-wrapper label {
  position: absolute;
  display: block;

  bottom: 8.83px;
  right: 0;

  font-size: 9px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.form__input-wrapper input,
.form__input-wrapper textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px 5px 5px;

  background-color: transparent;
  width: 100%;

  text-align: right;
}

.form__input-wrapper textarea {
  height: 150px;
  resize: none;

  background-color: rgb(243, 243, 243);
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
}

.form .form__field .form__input input::placeholder {
  font-size: 9px;
}

.form .form__field .form__input button {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: 5px;

  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;

  color: red;
  font-weight: 700;

  background-color: rgba(255, 255, 255, 0.7);
}

.back-block {
  height: calc(100vh - 42px - 42px - 40px);
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.back-block .add-product {
  width: 100%;
  height: 100px;
  text-align: center;
}
