.form .form__summary {
  white-space: nowrap;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 11px;

  padding: 5px 15px 15px 15px;
}

.form .form__summary span {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
}

.form .form__summary .count {
  // background-color: yellow;
  // padding-right: 60px;

  // position: absolute;
  // right: 50px;
}

.form .form__summary .summ {
  // background-color: greenyellow;
  position: relative;
  // padding-right: 31px;
}
