.hello-user-wrapper {
  position: relative;
}

.hello-user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hello-user::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: blue;
  cursor: pointer;
}

.hello-user h2 {
  text-transform: capitalize;
}

.hello-user .icon-wrapper {
  background: unset;
  width: auto;
  height: auto;
}
