.modal-backdrop {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  right: -100%;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

.modal-backdrop nav {
  height: 100%;
  width: 150px;
  background-color: white;

  margin-left: auto;
}

.modal-backdrop nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.modal-backdrop nav ul li {
  width: 100%;
}

.modal-backdrop nav ul li a {
  padding: 20px;
  display: block;
  width: 100%;

  position: relative;
}

.modal-backdrop nav ul li a p {
  position: relative;
  z-index: 1;
}

.modal-backdrop nav ul li a .marker {
  position: absolute;
  top: 50%;
  left: -20px;
  height: 30px;
  width: 10px;
  border-radius: 5px;
  transform: translateY(-50%);
}

.modal-backdrop nav ul li a.active .marker {
  width: 110%;
  z-index: 0;

  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.35);
}
