.salles-item__info-group {
  display: grid;
  grid-template-columns: 50px 1fr 75px 30px;
  align-items: center;
  justify-items: center;
  gap: 5px;

  position: relative;
  left: 0;
}

.salles-item__info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.checkbox-label {
  position: relative;
  overflow: hidden;

  cursor: pointer;
}

.salles-item__info-group .mark-wrapper {
  position: absolute;
  top: -100%;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.salles-item__info-group .mark-wrapper .icon-wrapper {
  width: 100%;
  height: 100%;

  border-radius: unset;
  background: transparent;
}

.salles-item__info-group .checkbox-label::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid gray;
}

.salles-item__info-group .checkbox {
  display: none;
}

.salles-item__date {
  font-size: 11px;
}

.salles-item__info-name {
  text-transform: capitalize;
}

.salles-item__info-phone {
  font-weight: 600;
}

.salles-item__total {
  font-weight: 600;
}

.salles-item__menu-btn {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: var(--green-gradient);
}
