.products-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  padding: 5px;

  height: calc(100vh - 42px - 42px - 40px);
  overflow-x: scroll;
}

.products-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 5px;
  position: relative;

  display: grid;
  grid-template-columns: 30px 50px 1fr 30px;
  align-items: center;
}

.products-item span {
  text-transform: capitalize;
}

.products-item .thumb {
  width: 40px;
  height: 40px;
  overflow: hidden;

  border-radius: 50%;
}

.products-item__number {
  margin-left: 5px;
}
