.loading-backdrop {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: grayscale(100%) blur(10px);

  display: flex;
  align-items: center;
  justify-content: center;
}
