.add-new-btn {
  padding: 5px 10px;
  background: var(--green-gradient);

  height: 40px;
  width: 100%;

  font-size: 12px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.add-new-btn .icon-wrapper {
  width: auto;
  height: auto;

  background: transparent;
  border-radius: unset;
}
